@import url("https://fonts.googleapis.com/css2?family=Fondamento&display=swap");

#bodyOfFile {
  background: rgb(245, 31, 216);
  border: 3px solid #000;
}

#page-heading {
  height: 30vw;
  background-image: url("/images/cute1.jpg"), url("/images/cute.jpg"),
    url("/images/paperbg.gif");
  background-position: left top, right bottom, right, center top;
  background-repeat: no-repeat, no-repeat, repeat;

  text-align: center;
  font-weight: 200;
  font-size: 25px;
  font-family: Fondamento;
  color: #000;
  border-bottom: 2px solid #000;
}
.chocoType {
  color: rgb(56, 224, 236);
  font-family: "Times New Roman", Times, serif;
}
.chocoType:hover {
  font-size: 35px;
  color: rgb(27, 236, 20);
}

.mainSection {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  margin: 5px 5px;
  padding: 5px;

  background: rgb(191, 103, 250);
}
.image {
  height: 300px;
  width: 300px;
  border: 2px solid #000;
  border-radius: 200px;
}
.image:hover {
  background: #aaa;
  border-image-width: 50px;
  border-width: 5px;
}
.image:active {
  box-shadow: 4px 4px 5px #aaa;
  background: #aaa;
  opacity: 0.5;
}

#footer {
  text-align: center;
}
